In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Resources/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-17 18:11:03,-23.1203,-134.9692,78.03,70,3,13.27
1,1,Yellowknife,CA,2022-04-17 18:11:03,62.4560,-114.3525,12.56,47,68,10.00
2,2,Torbay,CA,2022-04-17 18:11:03,47.6666,-52.7314,49.28,92,100,29.93
3,3,Dahod,IN,2022-04-17 18:11:04,22.8333,74.2667,84.94,25,0,10.22
4,4,Kahului,US,2022-04-17 18:11:04,20.8947,-156.4700,77.02,72,20,13.80

In [10]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [33]:
# Heatmap of TEMPERATURE
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of HUMIDITY
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of CLOUDINESS
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the humidity.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of WIND SPEED
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the humidity.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-17 18:11:03,-23.1203,-134.9692,78.03,70,3,13.27
3,3,Dahod,IN,2022-04-17 18:11:04,22.8333,74.2667,84.94,25,0,10.22
4,4,Kahului,US,2022-04-17 18:11:04,20.8947,-156.4700,77.02,72,20,13.80
5,5,Mahebourg,MU,2022-04-17 18:11:04,-20.4081,57.7000,77.29,100,40,3.44
6,6,Puerto Ayora,EC,2022-04-17 18:11:05,-0.7393,-90.3518,78.76,84,84,9.80
9,9,Bathsheba,BB,2022-04-17 18:11:06,13.2167,-59.5167,81.07,70,80,18.34
12,12,Atuona,PF,2022-04-17 18:08:28,-9.8000,-139.0333,79.38,80,39,18.21
16,16,Lorengau,PG,2022-04-17 18:11:08,-2.0226,147.2712,81.21,81,75,6.80
19,19,Vaini,TO,2022-04-17 18:11:09,-21.2000,-175.2000,75.36,100,75,2.30
20,20,Roebourne,AU,2022-04-17 18:11:09,-20.7833,117.1333,84.61,34,38,4.36

In [41]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Rikitea      PF     78.03 -23.1203 -134.9692
3          Dahod      IN     84.94  22.8333   74.2667
4        Kahului      US     77.02  20.8947 -156.4700
5      Mahebourg      MU     77.29 -20.4081   57.7000
6   Puerto Ayora      EC     78.76  -0.7393  -90.3518
9      Bathsheba      BB     81.07  13.2167  -59.5167
12        Atuona      PF     79.38  -9.8000 -139.0333
16      Lorengau      PG     81.21  -2.0226  147.2712
19         Vaini      TO     75.36 -21.2000 -175.2000
20     Roebourne      AU     84.61 -20.7833  117.1333

In [49]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.03,-23.1203,-134.9692,People ThankYou
3,Dahod,IN,84.94,22.8333,74.2667,Hotel Laxmi Inn
4,Kahului,US,77.02,20.8947,-156.4700,Maui Seaside Hotel
5,Mahebourg,MU,77.29,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))